.footer{
    background-color: #001a20;

    &-wrapper {
        text-align: center;
        
        &-about{
            background-color: #00232b;
            padding: 65px 60px;

            .logo {
                display: block;
                text-decoration: none;
                margin-bottom: map-get($spacers, 4);
            }

            .text{
                color: $gray-400;

                &:after {
                    content: '';
                    display: block;
                    height: 2px;
                    background-color: $gray-600;
                    margin: 50px 0;
                }
            }

            .address {
                color: $gray-200;
                margin: map-get($spacers, 5 ) 0;
                font-weight: $font-weight-bold;
            }

            &-btn {
                display: inline-block;
                margin: 0 auto;
                padding: 10px 20px;
                background-color: #e16297;
                color: $white;
                font-weight: $font-weight-bold;
                text-transform: uppercase;
                font-family: "Poppins", sans-serif;
                border: solid 1px transparent;
                transition: all 0.9s;
                border-radius: 1px;
                text-decoration: none !important;
                @include responsive-font-size(14px);
    
                    &:hover {
                        background-color: #2fc0df;
                        transition: all 1s;
                        border: solid 1px #2fc0df;
                        color: #fff;

                        i {
                            color: #fff;
                        }
                    }
    
                i {
                    margin-right: 10px;
                    text-decoration: none;
                    @include responsive-font-size(23px);
                }            
            }

        }

        &-contact {
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            padding: 0;
            margin-bottom: map-get($spacers, 5);

            li {
                color: #fff;
                font-weight: $font-weight-bold;
                @include responsive-font-size(15px);

                i {
                    color: #2fc0df;
                    margin-right: map-get($spacers, 1);
                }
            }
        }


        &-menu{

            .block-menu{
                margin-top: 65px;

                .title {
                    color: #fff;
                    font-weight: $font-weight-bold;
                    position: relative;
                    text-align: left;
                    @include responsive-font-size(18px);

                    &:after{
                        content: '';
                        display: block;
                        margin: 8px auto 0;
                        background-color: #e16297;
                        height: 2px;
                        width: 30px;
                        position: absolute;
                        left: 0px;
                    }
                }

                .menu {
                    list-style: none;
                    text-align: left;
                    padding: 0;
                    margin-top: 30px;
                    
                    li {
                        padding: 5px 0;

                        a {
                            text-align: left;
                            color: $gray-400;
                            text-decoration: none;
                            font-weight: $font-weight-normal;
                            @include responsive-font-size(16px);
                        }
                    }
                }
            }

            .block-hours {
                margin-top: 50px;

                .title {
                    color: #fff;
                    font-weight: $font-weight-bold;
                    position: relative;
                    text-align: left;
                    margin-bottom: 30px;
                    @include responsive-font-size(18px);

                    &:after{
                        content: '';
                        display: block;
                        margin: 8px auto 0;
                        background-color: #e16297;
                        height: 2px;
                        width: 30px;
                        position: absolute;
                        left: 0px;
                    }
                }

                .text {
                    color: $gray-400;
                    margin-bottom: 0;
                    text-align: left;
                }

        
            }
        }


        &-feed {
            margin-top: 65px;

            .title {
                color: #fff;
                font-weight: $font-weight-bold;
                position: relative;
                text-align: left;
                @include responsive-font-size(18px);

                &:after{
                    content: '';
                    display: block;
                    margin: 8px auto 0;
                    background-color: #e16297;
                    height: 2px;
                    width: 30px;
                    position: absolute;
                    left: 0px;
                }
            }

            ul {
                display: flex;
                flex-wrap: wrap;
                padding: map-get($spacers, 0 );
                margin-top: 40px;
                
                li {
                    margin: 2px;
                }
            }
        }

        &-redesocial {
            margin-top: 65px;

            .title {
                color: #fff;
                font-weight: $font-weight-bold;
                position: relative;
                text-align: left;
                @include responsive-font-size(18px);

                &:after{
                    content: '';
                    display: block;
                    margin: 8px auto 0;
                    background-color: #e16297;
                    height: 2px;
                    width: 30px;
                    position: absolute;
                    left: 0px;
                }
            }

            ul {
                display: flex;
                flex-wrap: wrap;
                // justify-content: space-evenly;
                padding: map-get($spacers, 0 );
                // margin-top: 40px;

                li {
                    list-style: none;
                    margin-top: map-get($spacers, 4);

                    &:nth-child(even){
                        margin: 0 15px;
                        margin-top: map-get($spacers, 4);
                    }

                    a {
                        border: solid 1px $gray-400;
                        display: inline-block;
                        height: 36px;
                        width: 36px;
                        line-height: 36px;
                        border-radius: 50%;

                        i {
                            color: $gray-400;
                            padding: 0;
                            margin: 0;
                        }
                    }
                }
            }

        }

    }

    &-copyright {
        padding: map-get($spacers, 4) 0;
        p {
            color: $gray-400;
            margin: 0;
            text-align: left;
            @include responsive-font-size(16px);
        }
    }
}