.header {
    
    // Ativador Menu Sticky
        // &.scrollHide {
        //     transition: all 0.7s;
        //     background-color: $gray-200;
        //     position: fixed;
        //     top: map-get($spacers, 0);

        //     @include media-breakpoint-only(xs){
        //         background-color: $gray-300;
        //     }   

        // }
    // end Ativador Menu Sticky


    &__rowTop {
        background-color: $gray-100;

        &__redeSocial {
            display: flex;
            align-items: center;

            @include media-breakpoint-only(xs){
                flex-direction: column;
                padding: map-get($spacers, 4);
            }

            .list {
                display: flex;
                margin: map-get($spacers, 0 );

                @include media-breakpoint-only(xs){
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    margin-bottom: map-get($spacers, 2);
                }
        
                li {

                    &:nth-child(even) {
                        margin: 0 20px;
                    }

                    a {
                        font-family: "Poppins", sans-serif;
                        color: $gray-700;
                        font-weight: $font-weight-normal;
                        text-decoration: none;
                        transition: all 0.7s;
                        @include responsive-font-size(14);

                        &:hover {
                            transition: all 0.7s;
                            color: $cyan;
                        }

                        i {
                            color: $cyan;
                            margin-right: map-get($spacers, 1 );
                        }

                    }
                }
            }

        }

        .btn-quote {
            display: flex;
            align-items: center;
            margin-left: auto;
            padding: 12px 20px;
            background-color: $pink;
            color: $white;
            font-weight: $font-weight-bold;
            text-transform: uppercase;
            font-family: "Poppins", sans-serif;
            text-decoration: none;
            border: solid 1px transparent;
            transition: all 0.9s;
            border-radius: 2px;
            @include responsive-font-size(14px);

                &:hover {
                    background-color: $cyan;
                    transition: all 1s;
                    border: solid 1px $cyan;
                    color: $white;

                    i {
                        color: $white;
                    }
                }

                @include media-breakpoint-only(xs){
                    margin: map-get($spacers, 0) auto;
                }

            i {
                margin-right: 10px;
                @include responsive-font-size(23px);
            }
        }
    }

    
    &__rowBottom {
        padding: map-get($spacers, 1 ) 0;

        &__wrapper{
            display: flex;
            align-items: center;
            justify-content: center;
            padding: map-get($spacers, 4 ) 0;

            .navbar {
                // padding: map-get($spacers, 4) map-get($spacers, 5);
                padding: 0;

                @include media-breakpoint-only(xs){
                    padding-top: map-get($spacers, 0);
                    justify-content: center;
                    align-items: center;
                }
                @include media-breakpoint-only(sm){ 
                    justify-content: center;
                }
                @include media-breakpoint-only(md){ 
                    justify-content: center;
                }

                // Logo
                .navbar-brand {
                    padding: 0;
                    display: flex;
                    margin: 0 50px !important;

                    @include media-breakpoint-only(xs){
                        display: block;
                        text-align: center;
                        margin: 0 10px map-get($spacers, 2) !important;
                    }
                    @include media-breakpoint-only(sm){
                        margin: 0 !important;
                    }
                    @include media-breakpoint-only(md){
                        margin: 0 !important;
                    }
                   

                }

                // Button Menu
                .navbar-toggler {
                    background-color: $white;
                    border-color: transparent;
                }

                // Lista Menu
                #navbarSupportedContent {


                    .navbar-nav {
                        align-items: center;
                        @include media-breakpoint-only(xs){
                            // background-color: $gray-600;
                        }
                        @include media-breakpoint-only(sm){
                            align-items: center;
                        }

                        li {
                            margin: 0 map-get($spacers, 3 );

                            a {
                                font-weight: $font-weight-bold;
                                text-transform: uppercase;
                                color: $gray-900;
                                // letter-spacing: 0.8px;
                                font-family: "Poppins", sans-serif;
                                transition: all 0.6s;
                                padding: 0;
                                text-decoration: none;
                                @include responsive-font-size(14px);

                                &:hover {
                                    transition: all 0.7s;
                                    color: $red;
                                }
                            }
                        }

                    }
                }

                // Button Sale - Get Coaching
                .btn-sale {
                    text-decoration: none;
                    display: inline-block;
                    background-color: $red;
                    color: $white;
                    border-radius: 2px;
                    font-weight: $font-weight-bold;
                    border: solid 1px transparent;
                    padding: map-get($spacers , 2) map-get($spacers , 3);
                    transition: all 0.7s;
                    font-family: 'Poppins', sans-serif;
                    @include responsive-font-size(15px);

                    &:hover{
                        transition: all 0.7s;
                        background-color: transparent;
                        border: solid 1px $red;
                        color: $red;
                    }

                    @include media-breakpoint-only(xs){
                        padding: map-get($spacers, 1) map-get($spacers, 2);
                        border-radius: map-get($spacers, 1);
                    }
                }

                // Button Search
                .btn-search {
                    
                    i {
                        transition: all 0.6s;
                        cursor: pointer;
                        color: $pink;

                        &:hover {
                            transition: all 0.6s;
                            color: $red;
                        }

                    }
                }

                // Button Login
                .btn-login {
                    a {
                        text-decoration: none;
                        transition: all 0.6s;
                        font-weight: $font-weight-normal;
                        font-family: 'Poppins', sans-serif;
                        @include responsive-font-size(16px);

                        &:hover {
                            transition: all 0.6s;
                            color: $red;
                        }
                    }
                }

                .group-icons {
                    li {
                        i {
                            color: $dark;
                        }
                    }
                }

            }

        }

    }


}